<% if (locals.books && locals.books.length >= 1) { %>
  <ol>
    <% locals.books.forEach((book) => { %>
      <li>
        <div>
          <img src="<%= book.cover_art_url %>" alt="Book cover">
        </div>
        <h2><%= book.title %></h2>
        <ol>
          <% book.authorNames.forEach((name) => { %>
            <li><%= name %></li>    
            <% }) %>  
          </ol> 
          <p><%= book.first_publication_year %></p>
          <p><%= book.date_finished %></p>
          <p><%= book.comments %></p>
          <p><%= book.rating %></p>
        </li>
    <% }) %>
  </ol>
<% } %>
